composer.phar
/vendor/
.idea/

# если разрабатываем проект типа приложение, то есть готовое приложение, которое сайт (как мы), то ещё рекомендуется composer.lock,
# потому что при установке на сервере с использованием команды composer instal можно быть на 100% увереннным, что
# все те зависимости и версии библиотек, которые мы установили локально - будут точно так же установлены на продакшен сервере.

# для разработки бибилиотек этого не надо (они просто пойдут в другие проекты)